header {
	border-bottom: 1px var(--dark) solid;
	background-color: var(--tertiary);
}
li {
	list-style: none;
}
h1 {
	font-style: italic;
	-moz-transform: skew(-5deg, -0deg);
	-webkit-transform: skew(-5deg, -0deg);
	-o-transform: skew(-5deg, -0deg);
	-ms-transform: skew(-5deg, -0deg);
	transform: skew(-5deg, -0deg);
}
