.chatOnlineFriend {
	display: flex;
	align-items: center;
	font-weight: 500;
	cursor: pointer;
	margin-top: 10px;
}

.chatOnlineImgContainer {
	position: relative;
	margin: 10px;
}

.chatOnlineImg {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	object-fit: cover;
	background-color: coral;
	border: 1px solid white;
}

.chatOnlineBadge {
	top: 3px;
	right: 2px;
	position: absolute;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: limegreen;
}
